<div class="companies section">
  <h2 class="heading heading--terthery">Our graduates have worked in</h2>
  <div class="container">
    <div class="companies__logos d-flex">
      <div class="logo" *ngFor="let img of images">
        <img [src]="img" alt="">
      </div>
    </div>
  </div>
</div>


<div class="chating section">
  <div class="container">

    <div class="chating__image flex-item rounded">
      <img src="../../../../assets/images/persons/chating.png" alt="">
    </div>

    <div class=""></div>

    <div class="chating__info flex-item d-flex">
      <h2 class="heading heading--secondary">What did they say</h2>
      <p class="paragraph paragraph--md">
        Higher education in the era of the industrial revolution 4.0 requires breakthrough learning using digital
        platforms that answer the challenges of millennial students to study anywhere, anytime and with leading-edge ICT
         technology. From student recruitment to teaching and learning administration processes,
      </p>
      <div class="chating__info__actions d-flex">
        <div class="info d-flex">
          <h4 class="heading heading--terthery">Briana Patton</h4>
          <p class="paragraph paragraph--sm">Designer at Salesforce</p>
        </div>
        <img src="../../../../assets/svg/arrow-right-circle.svg" alt="">
        <!-- <fa-icon [icon]="['','']"></fa-icon> -->
      </div>
    </div>
  </div>
</div>
