


$defaultFontSize:1.6rem;




$color-black-800:#0A0A0A;
$color-black-700:#230F0F;
$color-black-600:#4D4D4D;
$color-black-400:#80848E;
$color-black-200:#DCDCE6;

$color-blue-400:#086BED;
$color-blue-700:#1C1D4E;

$color-accent:#DC4298;

$color-brown-500:#874444;


$color-white:#F5F5F5;
$color-white-200:#F5F5F5;
