<div class="cta d-flex">
  <div class="container">
    <div class="cta__text flex-item d-flex">
      <h2 class="heading heading--secondry text-white">Still confused about your career choice? consult with our experts</h2>
      <button class="btn btn--lg btn--bg-white rounded">Contact Us</button>
    </div>
<div class=""></div>
    <div class="cta__image flex-item d-flex">
      <div class="cta__circle"></div>

        <img src="../../../../assets/images/persons/girl.svg" alt="">

    </div>

  </div>
</div>
