<nav class="nav">
  <div class="nav__logo">
      <div class="">
        <img src="../../../../assets/images/logo.svg" alt="">
      </div>
      <h4>Owlearn</h4>
    </div>
  <div class="nav__links">
    <ul class="nav__links__list">
      <li><a class="active">Home</a></li>
      <li><a >Bootcamp</a></li>
      <li><a >Events</a></li>
      <li><a >Articl</a></li>
      <li><a >Contact Us</a></li>
      <li>
        <button class="btn transparent rounded" (click)="uiService.openModel.next(true)">contact us</button>
      </li>
    </ul>
  </div>
</nav>
