<footer class="footer section">
  <div class="container">
    <div class="flex-item">
      <h4 class="heading heading--sm">Event & Bootcamp</h4>
      <ul class="footer__list d-flex">
        <li>Web Development</li>
        <li>Comunication</li>
        <li>Mobile Development</li>
        <li>Video Production</li>
        <li>UI Design</li>
        <li>Digital Marketing</li>
        <li>UI Research</li>
        <li>Branding</li>
        <li>Presentation</li>
      </ul>
    </div>
    <div class="flex-item">
      <h4 class="heading heading--sm">About Owlearn</h4>
      <ul class="footer__list">
        <li>Adminission Info</li>
        <li>Article</li>
        <li>Group & Referral Program</li>
        <li>Careers</li>
      </ul>
    </div>
    <div class="flex-item">
      <h4 class="heading heading--sm">Contact</h4>
      <ul class="footer__list">
        <li class="contacts">support@edtech.com</li>
        <li class="contacts">(+62) 85923935983</li>
        <li class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
        <li class="icons d-flex">
          <fa-icon [icon]="['fab','linkedin']"></fa-icon>
          <fa-icon [icon]="['fab','youtube']"></fa-icon>
          <fa-icon [icon]="['fab','instagram']"></fa-icon>
          <fa-icon [icon]="['fab','twitter']"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</footer>

<div class="copywright">
  <p class="paragraph paragraph--sm text-white">Copyright © 2021 Owlearn. All Rights Reserved.</p>
</div>
