<div class="partner section">
  <div class="container">
    <div class="partner__text">
      <p class="heading heading--terthery">
        We partner with more than 10+ companies
      </p>
    </div>

    <div class=""></div>

    <div class="partner__logos d-flex">
      <div class="logo">

        <img src="../../../../assets/images/partners/skill.svg" alt="">
      </div>
      <div class="logo">

        <img src="../../../../assets/images/partners/udemy.svg" alt="">
      </div>
      <div class="logo">
        <img src="../../../../assets/images/partners/google.svg" alt="">
      </div>
      <div class="logo">
        <img src="../../../../assets/images/partners/courcida.svg" alt="">
      </div>
      <div class="logo">
        <img src="../../../../assets/images/partners/foundation.svg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="subscribe section">
  <div class="container">

    <div class="subscribe__image flex-item rounded">
      <div class="subscribe__image__text">
        <h3 class="heading heading--terchery white">Educational tectology</h3>
        <div class="location d-flex">
          <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
          <span>Jacarta, Indonosia</span>
        </div>
      </div>
    </div>

    <div class=""></div>

    <div class="subscribe__info d-flex flex-item ">
      <h2 class="heading heading--secondary ">Owlearn helps you Become Experienced</h2>

      <p class="paragraph paragraph--lg">
        Owlearn provides e-learning solutions for companies, universities and individual professionals. It allows users to create courses, and provides an integrated learning management system. Its offerings include digital course tools, study materials, IT infrastructure and other operations.
      </p>

      <button class="btn btn--lg rounded">Become a Member</button>
    </div>
  </div>
</div>
