<header class="header section">
  <div class="container d-flex">
    <div class="header__content flex-item">
      <h1 class="heading heading--primary">Learn&nbsp;Any&nbsp;Skills to&nbsp;advance&nbsp;your career&nbsp;path</h1>
      <div class="curve"></div>
      <p class="paragraph paragraph--lg">Want to improve your work skills? You need to study harder with the help of a great mentor to improve your performance at work</p>

      <div class="header__actions d-flex">
        <button class="btn btn--lg solid rounded">Explore Path</button>
        <div class="header__rating d-flex">
          <div class="header__rating__photos d-flex">
            <div class="img">
              <img src="../../../../assets/images/persons/user1.png" alt="">
            </div>
            <div class="img">
              <img src="../../../../assets/images/persons/user2.png" alt="">
            </div>
            <div class="img">
              <img src="../../../../assets/images/persons/user3.png" alt="">
            </div>
          </div>

          <div class="header__rating__stars d-flex">
            <ul class="d-flex">
              <li><img src="../../../../assets/images/persons/star.svg" alt=""></li>
              <li><img src="../../../../assets/images/persons/star.svg" alt=""></li>
              <li><img src="../../../../assets/images/persons/star.svg" alt=""></li>
              <li><img src="../../../../assets/images/persons/star.svg" alt=""></li>
              <li><img src="../../../../assets/images/persons/star.svg" alt=""></li>
            </ul>
            <span>(4,5/5 dari 10k Alumni)</span>
          </div>

        </div>
      </div>
    </div>

    <div></div>
    <div class="header__image flex-item">
      <img src="../../../../assets/images/hero.svg" alt="">
    </div>
  </div>
</header>
